<a class="icon-twitter" href="https://twitter.com/USER" title="Twitter"><span class="hidden">Twitter</span></a>
<a class="icon-facebook" href="http://facebook.com/USER" title="Facebook"><span class="hidden">Facebook</span></a>
<a class="icon-linkedin" href="http://facebook.com/USER" title="Linkedin"><span class="hidden">Linkedin</span></a>
<a class="icon-yahoo" href="http://facebook.com/USER" title="Yahoo"><span class="hidden">Yahoo</span></a>